@charset "utf-8";

@font-face {
	font-family: "Mitra Bold";
	src: url("../../logo/font/Farsi.Mitra Bold.ttf") format("openType");
}

@font-face {
	font-family: "Mitra";
	src: url("../../logo/font/Farsi.Mitra.ttf") format("openType");
}

.contianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.top {
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
}
.nav-logo {
}
.nav-image {
	width: 14rem;
}
.search-box {
}
.Search {
	width: 38rem;
	padding: 0.7rem;
	border-radius: 0.2rem;
	background-color: rgb(245 245 245);
	border: none;
	font-size: 1.1rem;
	font-family: Mitra Bold;
}
.nav-links {
	display: flex;
	align-items: center;
}
.nav-link1 {
	text-decoration: none;
	background-color: #ef7f1a;
	border-radius: 5px;
	padding: 0.8rem 1.5rem;
	color: #ffff;
	margin-left: 0.5rem;
	font-family: Mitra Bold;
}

.nav-link1:hover {
}
i {
	font-size: 1.3rem;
	margin-left: 0.8rem;
}
.nav-link2 {
	text-decoration: none;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	padding: 0.4rem 1.5rem;
	border-radius: 5px;
	color: #000000;
	transition: 0.4s;
	font-family: Mitra Bold;
	display: flex;
	align-items: center;
	margin-right: 0.5rem;
}
.icone-shop {
	padding-left: 0.3rem;
}
.nav-link2:hover {
	background-color: #dfdfdf;
}
.store-icone {
}

.line-under-cantianer {
	padding-top: 2rem;
	color: #d2d2d2;
}
.under-nav-contianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: -3rem;
	margin-bottom: -4rem;
}

.line-under-cantianer1 {
	color: #d2d2d2;
}
.under-nav {
	margin: 5rem;
}
.under-nav-texts {
	display: flex;
	justify-content: space-evenly;
	margin: 0px 12rem;
}
.under-nav-text1 {
	text-decoration: none;
	font-size: 1.4rem;
	font-family: Mitra;
	color: #000;
	transition: 0.3s;
}

.under-nav-text1:hover {
	color: #747474;
	border-bottom: 3px solid #f57403;
}

.header-bottom-contianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 4rem;
}
.header-bottom {
	display: flex;
	align-items: center;
	margin-top: -4rem;
}
.header-bottom-left {
	width: 55%;
}
.bottom-left-img {
}
.left-img {
	width: 47rem;
	height: 33rem;
}
.header-bottom-right {
	width: 45%;
}
.bottom-right-text {
	font-size: 3.7rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
}
.bottom-right-title {
	font-size: 1.9rem;
	color: #616161;
	font-family: Mitra;
}
.bottom-right-box {
	width: 27rem;
	padding: 1rem;
	border-radius: 0.3rem;
	font-size: 1.1rem;
	font-family: Mitra;
}
.btn {
	padding: 1rem;
	background-color: #ef7f1a;
	font-family: Mitra Bold;
	color: #fff;
	text-decoration: none;
	border-radius: 0.3rem;
}

.under-header-bottom-cantianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.keeper-img-jozve {
	display: flex;
	align-items: center;
	margin-bottom: 0.8rem;
}
.jozve-img {
	height: 3rem;
	width: 3rem;
}
.jozve {
	font-size: 1.7rem;
	font-family: Mitra Bold;
	margin-right: 1rem;
}
.under-header-bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.under-header-bottom-box1 {
	background-color: #f8f8f8;
	width: 12rem;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.3rem;
	transition: 0.3s;
}
.logo-image1 {
	margin-top: 1.1rem;
	height: 3.3rem;
	width: 3.3rem;
	cursor: pointer;
}
.under-header-bottom-wrraper1 {
}
.box1-text1 {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
	cursor: pointer;
}
.box1-title1 {
	color: #969696;
	margin-top: 10px;
	font-family: Mitra;
	font-size: 1.2rem;
	cursor: pointer;
}

.under-header-bottom-box2 {
	background-color: #f8f8f8;
	width: 12rem;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.3rem;
	transition: 0.3s;
}
.logo-image2 {
	margin-top: 1.1rem;
	height: 3.3rem;
	width: 3.3rem;
	cursor: pointer;
}
.under-header-bottom-wrraper2 {
}
.box1-text2 {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
	cursor: pointer;
}
.box1-title2 {
	color: #969696;
	margin-top: 10px;
	font-family: Mitra;
	font-size: 1.2rem;
	cursor: pointer;
}

.under-header-bottom-box3 {
	background-color: #f8f8f8;
	width: 13rem;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.3rem;
	transition: 0.3s;
}
.logo-image3 {
	margin-top: 1.1rem;
	height: 3.3rem;
	width: 3.3rem;
	cursor: pointer;
}
.under-header-bottom-wrraper3 {
}
.box1-text3 {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
	cursor: pointer;
}
.box1-title3 {
	color: #969696;
	margin-top: 10px;
	font-family: Mitra;
	font-size: 1.2rem;
	cursor: pointer;
}

.under-header-bottom-box4 {
	background-color: #f8f8f8;
	width: 12rem;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.3rem;
	transition: 0.3s;
}
.logo-image4 {
	margin-top: 1.1rem;
	height: 3.3rem;
	width: 3.3rem;
	cursor: pointer;
}
.under-header-bottom-wrraper4 {
}
.box1-text4 {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
	cursor: pointer;
}
.box1-title4 {
	color: #969696;
	margin-top: 10px;
	font-family: Mitra;
	font-size: 1.2rem;
	cursor: pointer;
}

.under-header-bottom-box5 {
	background-color: #f8f8f8;
	width: 12rem;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.3rem;
	transition: 0.3s;
}
.logo-image5 {
	margin-top: 1.1rem;
	height: 3.3rem;
	width: 3.3rem;
	cursor: pointer;
}
.under-header-bottom-wrraper5 {
}
.box1-text5 {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
	cursor: pointer;
}
.box1-title5 {
	color: #969696;
	margin-top: 10px;
	font-family: Mitra;
	font-size: 1.2rem;
	cursor: pointer;
}

.under-header-bottom-box6 {
	background-color: #f8f8f8;
	width: 12rem;
	height: 6rem;
	display: flex;
	justify-content: space-around;
	border-radius: 0.3rem;
	transition: 0.3s;
}
.logo-image6 {
	margin-top: 1.1rem;
	height: 3.3rem;
	width: 3.3rem;
	cursor: pointer;
}
.under-header-bottom-wrraper6 {
}
.box1-text6 {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-family: Mitra Bold;
	cursor: pointer;
}
.box1-title6 {
	color: #969696;
	margin-top: 10px;
	font-family: Mitra;
	font-size: 1.2rem;
	cursor: pointer;
}

.under-header-bottom-box1:hover {
	transform: scale(1.1);
	background-color: #e1e1e1;
}

.under-header-bottom-box2:hover {
	transform: scale(1.1);
	background-color: #e1e1e1;
}

.under-header-bottom-box3:hover {
	transform: scale(1.1);
	background-color: #e1e1e1;
}

.under-header-bottom-box4:hover {
	transform: scale(1.1);
	background-color: #e1e1e1;
}

.under-header-bottom-box5:hover {
	transform: scale(1.1);
	background-color: #e1e1e1;
}

.under-header-bottom-box6:hover {
	transform: scale(1.1);
	background-color: #e1e1e1;
}

.mian {
	background-color: #f3f3f3;
	margin-top: 5.5rem;
	height: 84rem;
}
.main-contianet {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.wrraper-main {
	display: flex;
	align-items: center;
	padding-top: 1.2rem;
}
.wrraper-img {
	width: 3rem;
}
.text-wrraper {
	font-size: 1.5rem;
	margin-right: 0.3rem;
	font-family: Mitra Bold;
}

.text-top-box {
	display: flex;
	justify-content: space-between;
	width: 62rem;
	align-items: center;
	margin-top: 2rem;
}
.text-top1 {
	background-color: #ef7f1a;
	padding: 0.8rem 1.5rem;
	border-radius: 5px;
	color: #fff;
	font-size: 17px;
	font-family: Mitra Bold;
	cursor: pointer;
}
.text-top2 {
	color: #969696;
	font-size: 17px;
	font-family: Mitra Bold;
	cursor: pointer;
	transition: 0.4s;
}

.text-top2:hover {
	color: #ef7f1a;
}

.items {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item1 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
	margin-bottom: 2rem;
}
.image-item1 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item1-text {
}
.item-text1 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title1 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper1 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item2 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item2 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item2-text {
}
.item-text2 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title2 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper2 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item3 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item3 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item3-text {
}
.item-text3 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title3 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper3 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item4 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item4 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item4-text {
}
.item-text4 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title4 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper4 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item5 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item5 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item5-text {
}
.item-text5 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title5 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper5 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item6 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item6 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item6-text {
}
.item-text6 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title6 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper6 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item7 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item7 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item7-text {
}
.item-text7 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title7 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper7 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.item8 {
	background-color: #fff;
	width: 18rem;
	height: 31rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 15px;
}
.image-item8 {
	width: 14rem;
	padding-right: 29px;
	padding-top: 2rem;
	border-radius: 30px;
	transition: 0.5s;
}
.item8-text {
}
.item-text8 {
	padding: 0 15px;
	width: 16rem;
	text-align: center;
	font-size: 21px;
	font-family: Mitra;
	transition: 0.3s;
	cursor: pointer;
}
.item-title8 {
	font-size: 18px;
	padding: 0 19px;
	color: #a5a5a5;
	font-family: Mitra Bold;
	margin-bottom: -1rem;
	cursor: pointer;
	transition: 0.3s;
}
.item-wrriper8 {
	font-size: 18px;
	display: flex;
	justify-content: end;
	padding: 0 20px;
	color: #ef7f1a;
	font-family: Mitra Bold;
}

.image-item1:hover {
	transform: scale(1.1);
}

.image-item2:hover {
	transform: scale(1.1);
}

.image-item3:hover {
	transform: scale(1.1);
}

.image-item4:hover {
	transform: scale(1.1);
}

.image-item5:hover {
	transform: scale(1.1);
}

.image-item6:hover {
	transform: scale(1.1);
}

.image-item7:hover {
	transform: scale(1.1);
}

.image-item8:hover {
	transform: scale(1.1);
}

.item-text1:hover {
	color: #e79a57;
}

.item-text2:hover {
	color: #e79a57;
}

.item-text3:hover {
	color: #e79a57;
}

.item-text4:hover {
	color: #e79a57;
}

.item-text5:hover {
	color: #e79a57;
}

.item-text6:hover {
	color: #e79a57;
}

.item-text7:hover {
	color: #e79a57;
}

.item-text8:hover {
	color: #e79a57;
}

.item-title1:hover {
	color: #616161;
}

.item-title2:hover {
	color: #616161;
}

.item-title3:hover {
	color: #616161;
}

.item-title4:hover {
	color: #616161;
}

.item-title5:hover {
	color: #616161;
}

.item-title6:hover {
	color: #616161;
}

.item-title7:hover {
	color: #616161;
}

.item-title8:hover {
	color: #616161;
}

.under-items {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 8rem;
}
.under-items-contianer {
	display: flex;
	align-items: center;
}
.under-items-right {
	width: 50%;
}
.under-items-img {
}
.under-items-left {
	width: 50%;
	background-color: #f8dec6;
	height: 20rem;
	border-radius: 10px;
}
.under-items-text {
	font-size: 37px;
	font-family: Mitra Bold;
	color: #515151;
	text-align: center;
}
.under-items-text2 {
	font-size: 30px;
	width: 31rem;
	font-family: Mitra;
	color: #707070;
	padding-right: 47px;
	margin-bottom: 3rem;
}
.under-items-btn {
	text-decoration: none;
	background-color: #eb6f00;
	color: #fff;
	padding: 0.8rem 1.8rem;
	border-radius: 5px;
	font-family: Mitra Bold;
	margin-right: 42px;
	transition: 0.3s;
}

.under-items-btn:hover {
	background-color: #b95700;
}

.main-center-cantianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	margin-top: 7rem;
}
.image-main-center {
	width: 3rem;
}
.main-center-text {
	margin-right: 1rem;
	font-size: 25px;
	font-family: Mitra Bold;
}
.main-center-title {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Mitra;
	padding-right: 96px;
	font-size: 23px;
	color: #989898;
	margin-top: -11px;
}

.main-center-boxs-cantianer {
	max-width: 879px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.main-center-boxs {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main-center-box1 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4rem;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box1 {
	width: 4rem;
}
.text-center-box1 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box2 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box2 {
	width: 4rem;
}
.text-center-box2 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box3 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box3 {
	width: 4rem;
}
.text-center-box3 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box4 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
}
.image-center-box4 {
	width: 4rem;
}
.text-center-box4 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box5 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box5 {
	width: 4rem;
}
.text-center-box5 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box6 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box6 {
	width: 4rem;
}
.text-center-box6 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box7 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box7 {
	width: 4rem;
}
.text-center-box7 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box8 {
	width: 11rem;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	transition: 0.6s;
}
.image-center-box8 {
	width: 4rem;
}
.text-center-box8 {
	font-size: 17px;
	font-family: Mitra Bold;
}

.main-center-box1:hover {
	background-color: #e2e2e2;
}

.main-center-box2:hover {
	background-color: #e2e2e2;
}

.main-center-box3:hover {
	background-color: #e2e2e2;
}

.main-center-box4:hover {
	background-color: #e2e2e2;
}

.main-center-box5:hover {
	background-color: #e2e2e2;
}

.main-center-box6:hover {
	background-color: #e2e2e2;
}

.main-center-box7:hover {
	background-color: #e2e2e2;
}

.main-center-box8:hover {
	background-color: #e2e2e2;
}

.main-center-content-cantianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.main-center-content {
	display: flex;
	align-items: center;
	margin-top: 9rem;
}
.main-content-right {
	width: 26%;
}
.image-main-content {
}
.main-content-left {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-right: 3rem;
}
.main-content-box1 {
	width: 17rem;
	height: 34rem;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fcfcfc;
}
.image-content-box1 {
	padding-top: 19px;
	width: 13rem;
	padding-right: 25.5px;
}
.keeper-texts1 {
}
.text-conten-box1 {
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	font-family: Mitra Bold;
	transition: 0.3s;
}
.title-conten-box1 {
	font-size: 22px;
	width: 9rem;
	text-align: center;
	padding-right: 56px;
	line-height: 30px;
	margin-top: -7px;
	color: #a7a7a7;
	cursor: pointer;
	font-family: Mitra;
	transition: 0.3s;
}
.wrraper-content-box1 {
	display: flex;
	justify-content: end;
	padding-left: 20px;
	font-size: 19px;
	text-decoration: line-through;
	color: #9a9a9a;
	font-family: Mitra Bold;
}
.wrraper2-content-box1 {
	display: flex;
	justify-content: end;
	padding-left: 20px;
	font-size: 19px;
	color: #ef7f1a;
	font-family: Mitra Bold;
	margin-top: -17px;
}

.main-content-box2 {
	width: 17rem;
	height: 34rem;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fcfcfc;
}
.image-content-box2 {
	padding-top: 19px;
	width: 13rem;
	padding-right: 25.5px;
}
.keeper-texts2 {
}
.text-conten-box2 {
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	font-family: Mitra Bold;
	line-height: 24px;
	transition: 0.3s;
}
.title-conten-box2 {
	font-size: 22px;
	width: 9rem;
	text-align: center;
	padding-right: 56px;
	line-height: 30px;
	color: #a7a7a7;
	cursor: pointer;
	font-family: Mitra;
	transition: 0.3s;
}
.wrraper-content-box2 {
	display: flex;
	justify-content: end;
	padding-left: 20px;
	font-size: 19px;
	text-decoration: line-through;
	color: #9a9a9a;
	font-family: Mitra Bold;
	margin-top: -2px;
}
.wrraper2-content-box2 {
	display: flex;
	justify-content: end;
	padding-left: 20px;
	font-size: 19px;
	color: #ef7f1a;
	font-family: Mitra Bold;
	margin-top: -17px;
}

.main-content-box3 {
	width: 17rem;
	height: 34rem;
	border-radius: 10px;
	border: 1px solid #ccc;
	background-color: #fcfcfc;
}
.image-content-box3 {
	padding-top: 19px;
	width: 13rem;
	padding-right: 25.5px;
}
.keeper-texts3 {
}
.text-conten-box3 {
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	font-family: Mitra Bold;
	transition: 0.3s;
}
.title-conten-box3 {
	font-size: 22px;
	width: 9rem;
	text-align: center;
	padding-right: 56px;
	line-height: 30px;
	margin-top: -7px;
	color: #a7a7a7;
	cursor: pointer;
	font-family: Mitra;
	transition: 0.3s;
}
.wrraper-content-box3 {
	display: flex;
	justify-content: end;
	padding-left: 20px;
	font-size: 19px;
	text-decoration: line-through;
	color: #9a9a9a;
	font-family: Mitra Bold;
}
.wrraper2-content-box3 {
	display: flex;
	justify-content: end;
	padding-left: 20px;
	font-size: 19px;
	color: #ef7f1a;
	font-family: Mitra Bold;
	margin-top: -17px;
}

.text-conten-box1:hover {
	color: #e79a57;
}
.text-conten-box2:hover {
	color: #e79a57;
}
.text-conten-box3:hover {
	color: #e79a57;
}

.title-conten-box1:hover {
	color: #616161;
}

.title-conten-box2:hover {
	color: #616161;
}

.title-conten-box3:hover {
	color: #616161;
}

.main-end-frame-cantianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.main-end-frame {
	margin-top: 10rem;
	display: flex;
	align-items: center;
	background-image: linear-gradient(
		rgb(247 247 247),
		rgb(255 255 255),
		rgb(241 241 241)
	);
	height: 10rem;
	border-radius: 12px;
}
.main-end-frame-right {
	width: 50%;
	margin-right: 3rem;
}
.main-end-frame-text {
	font-size: 38px;
	font-family: Mitra Bold;
}
.main-end-frame-title {
	font-size: 23px;
	margin-top: -9px;
	color: #e06a00;
	font-family: Mitra Bold;
}
.main-end-frame-left {
	width: 50%;
	display: flex;
	justify-content: end;
}
.main-end-frame-btn {
	text-decoration: none;
	font-size: 22px;
	background-color: #ef7f1a;
	color: #fff;
	padding: 11px 36px;
	border-radius: 5px;
	margin-top: 3rem;
	margin-left: 3rem;
	font-family: Mitra Bold;
	transition: 0.3s;
}

.main-end-frame-btn:hover {
	background-color: #b95700;
}

.comments-cantianer {
	max-width: 1330px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	margin-top: 5rem;
}
.comments-image {
	width: 5rem;
}
.comments-text {
	font-size: 24px;
	margin-right: 20px;
	margin-top: 40px;
	font-family: Mitra Bold;
}
.comments-title {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 23px;
	padding-right: 70px;
	margin-top: -11px;
	font-family: Mitra;
	color: #a5a5a5;
}

.comment-box-cantianer {
	max-width: 1330px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.comment-boxs {
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
}
.comment-box1 {
	width: 26rem;
	height: 13rem;
	background-color: #e5e5e5;
	border: 6px solid #e0e0e0;
	border-radius: 7px;
}
.comment-box-img-text1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.comment-img1 {
	width: 72px;
}
.comment-title1 {
	font-size: 24px;
	margin-right: -102px;
	font-family: Mitra;
}
.comment-logo1 {
	width: 79px;
	margin-left: 3rem;
}
.comment-box-text1 {
	font-size: 19px;
	width: 400px;
	margin-top: 31px;
	padding-right: 12px;
	line-height: 34px;
	font-family: Mitra;
}

.comment-box2 {
	width: 26rem;
	height: 13rem;
	background-color: #e5e5e5;
	border: 6px solid #e0e0e0;
	border-radius: 7px;
}
.comment-box-img-text2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.comment-img2 {
	width: 72px;
}
.comment-title2 {
	font-size: 24px;
	margin-right: -102px;
	font-family: Mitra;
}
.comment-logo2 {
	width: 79px;
	margin-left: 3rem;
}
.comment-box-text2 {
	font-size: 19px;
	width: 400px;
	margin-top: 31px;
	padding-right: 12px;
	line-height: 34px;
	font-family: Mitra;
}

.comment-box3 {
	width: 26rem;
	height: 13rem;
	background-color: #e5e5e5;
	border: 6px solid #e0e0e0;
	border-radius: 7px;
}
.comment-box-img-text3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.comment-img3 {
	width: 87px;
	height: 71px;
	border-radius: 17px;
}
.comment-title3 {
	font-size: 24px;
	margin-right: -102px;
	font-family: Mitra;
}
.comment-logo3 {
	width: 79px;
	margin-left: 3rem;
}
.comment-box-text3 {
	font-size: 19px;
	width: 400px;
	margin-top: 13px;
	padding-right: 12px;
	line-height: 34px;
	font-family: Mitra;
}

.top-footer-cantianer {
	max-width: 1222px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.top-footer {
	margin-top: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(#ef7f1a, #ff8d26);
	border-radius: 9px;
}
.top-footer-text {
	font-size: 37px;
	padding-right: 37px;
	color: #fff;
	font-family: Mitra Bold;
}
.inestagran-icone {
	background-color: #ffffff9c;
	padding: 8px 10px;
	border-radius: 8px;
	margin-left: -337px;
	transition: 0.4s;
}
.inestagran {
	width: 24px;
}
.telegram-icone {
	background-color: #ffffff9c;
	padding: 8px 10px;
	border-radius: 8px;
	margin-left: -336px;
	transition: 0.4s;
}
.telegram {
	width: 25px;
}
.watsapp-icone {
	background-color: #ffffff9c;
	padding: 8px 10px;
	border-radius: 8px;
	margin-left: 37px;
	transition: 0.4s;
}
.watsapp {
	width: 25px;
}

.inestagran-icone:hover {
	background-color: #d0d0d09c;
	margin-top: -15px;
}

.telegram-icone:hover {
	background-color: #d0d0d09c;
	margin-top: -15px;
}

.watsapp-icone:hover {
	background-color: #d0d0d09c;
	margin-top: -15px;
}

.footer {
	background-color: #000;
	margin-top: 7rem;
	height: 24rem;
}
.footer-cantianer {
	max-width: 1394px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.First-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;
}
.First-footer-img {
}
.First-footer-img2 {
	width: 37px;
	padding-right: 42.5rem;
}
.First-footer-text {
	color: #fff;
	margin-bottom: 0;
	font-size: 18px;
	padding-left: 19rem;
	font-family: Mitra Bold;
}

.the-second-footer {
	margin-top: 4rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.the-second-text1 {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: Mitra;
	border: 1px solid #ef7f1a;
	padding: 8px;
	border-radius: 7px;
}
.the-second-text2 {
	color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-family: Mitra;
}
.the-second-text3 {
	color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-family: Mitra;
}
.the-second-text4 {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: Mitra;
}
.the-second-text5 {
	color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-family: Mitra;
}
.the-second-box {
	padding: 14px 11rem;
	border-radius: 7px;
	font-size: 16px;
	font-family: Mitra Bold;
}
.the-second-btn {
	color: #fff;
	text-decoration: none;
	background-color: #ef7f1a;
	margin-right: -223.5px;
	font-size: 18px;
	border-radius: 5px;
	margin-top: 1px;
	padding: 12.5px 50px;
	font-family: Mitra Bold;
}

.line-footer {
	color: #535353;
	margin-top: 2.5rem;
}

.Third-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
.Third-footer-text {
	color: #909090;
	font-size: 22px;
	font-family: Mitra;
}
.icons {
	margin-left: 40px;
}
.inestagran-Third-footer {
}
.inestagran-footer {
	width: 24px;
	margin-left: 4px;
	padding: 8px 10px;
	border-radius: 5px;
	background-color: #ef7f1aba;
	transition: 0.4s;
}
.telegram-Third-footer {
}
.telegram-footer {
	width: 25px;
	margin-left: 4px;
	padding: 8px 10px;
	border-radius: 5px;
	background-color: #ef7f1aba;
	transition: 0.4s;
}

.watsapp-Third-footer {
}
.watsapp-footer {
	width: 24px;
	background-color: #ef7f1aba;
	padding: 8px 10px;
	border-radius: 5px;
	transition: 0.4s;
}

.inestagran-footer:hover {
	color: #6e3400;
	margin-bottom: 12px;
}
.telegram-footer:hover {
	color: #6e3400;
	margin-bottom: 12px;
}
.watsapp-footer:hover {
	color: #6e3400;
	margin-bottom: 12px;
}
